@charset "UTF-8";

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

div#login-page {
    animation: fade-in 3s ease-in-out;
}

h1 {
    text-align: center;
}